# Build directories
**/build/
**/cmake-build-*/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Compiled files
*.o
*.so
*.a
*.exe
*.out
Algorithm/HW4/code/subset_partition
Algorithm/HW4/code/lcs_dp
Algorithm/HW4/code/lcs_non_dp
Algorithm/HW5/random_function_check
Algorithm/HW5/test_algorithm

# OS files
.DS_Store
Thumbs.db
_codeql_detected_source_root

# LaTeX temporary files
*.aux
*.log
*.toc
*.out
*.synctex.gz

# HSPICE temporary or output files
*. tr0
*.tr*
*.sw0
*.sw*
*.mt0
*.mt*
*.pa0
*.pa*
*.st0
*.st*
*.ic0
*.ic*
*. lis
*.ma0
*.ms0

# Compiled pdf
main.pdf
report.pdf
hw*.pdf

# Office Document
*.pptx
*.docx
*.xlsx